.header {
  position: fixed;
}

.header a {
  display: flex;
  width: 15vw;
  height: 10vh;

  margin-top: 10px;
  margin-bottom: 10px;

  font-size: calc(10px + 2vmin);

  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: lightskyblue;
  color: black;

  text-decoration: none;
  text-transform: capitalize;
}
